.DS_Store
app/cart/.env
app/**/nohup.out
.idea/
app/**/log/
app/**/tmp/
app/**/kitex_gen/
docs/
go.work.sum

# 匹配模式:
# * 匹配零个或多个字符。
# ? 匹配一个字符。
# [...] 匹配括号内的任何单个字符。

# 路径前缀:
# 以 / 开头表示从仓库根目录开始匹配。
# 不以 / 开头表示匹配任意路径下的文件。

# 递归忽略:
# 例如，logs/ 会忽略整个 logs 目录及其内容。

# 排除特定文件:
# 使用 ! 前缀来排除某个文件或目录，即使它被其他规则匹配。例如，*.log 会忽略所有 .log 文件，但 !important.log 会排除 important.log。

# 目录匹配:
# 在目录名后添加 / 可以明确表示这是一个目录。例如，temp/ 表示忽略 temp 目录。